[submodule "userdots/.vim/pack/bundle/start/gundo"]
	path = userdots/.vim/pack/bundle/start/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "userdots/.vim/pack/bundle/start/vim-colors-solarized"]
	path = userdots/.vim/pack/bundle/start/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "userdots/.vim/pack/bundle/start/vim-statline"]
	path = userdots/.vim/pack/bundle/start/vim-statline
	url = git://github.com/millermedeiros/vim-statline.git
[submodule "userdots/.vim/pack/bundle/start/neocomplcache.vim"]
	path = userdots/.vim/pack/bundle/start/neocomplcache.vim
	url = git://github.com/Shougo/neocomplcache.vim.git
[submodule "userdots/.vim/pack/bundle/start/vim-coffee-script"]
	path = userdots/.vim/pack/bundle/start/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "userdots/.vim/pack/bundle/start/syntastic"]
	path = userdots/.vim/pack/bundle/start/syntastic
	url = git://github.com/vim-syntastic/syntastic.git
[submodule "userdots/.vim/pack/bundle/start/vim-golang"]
	path = userdots/.vim/pack/bundle/start/vim-golang
	url = git://github.com/jnwhiteh/vim-golang.git
[submodule "userdots/.vim/pack/bundle/start/vim-gocode"]
	path = userdots/.vim/pack/bundle/start/vim-gocode
	url = git://github.com/Blackrush/vim-gocode.git
[submodule "userdots/.vim/pack/bundle/start/supertab"]
	path = userdots/.vim/pack/bundle/start/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "userdots/.vim/pack/bundle/start/vim-fugitive"]
	path = userdots/.vim/pack/bundle/start/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "userdots/.vim/pack/bundle/start/vim-jade"]
	path = userdots/.vim/pack/bundle/start/vim-jade
	url = git://github.com/digitaltoad/vim-pug.git
[submodule "userdots/.vim/pack/bundle/start/julia-vim"]
	path = userdots/.vim/pack/bundle/start/julia-vim
	url = git://github.com/JuliaEditorSupport/julia-vim.git
[submodule "userdots/.vim/pack/bundle/start/dash.vim"]
	path = userdots/.vim/pack/bundle/start/dash.vim
	url = git://github.com/rizzatti/dash.vim.git
[submodule "userdots/.vim/pack/bundle/start/rust.vim"]
	path = userdots/.vim/pack/bundle/start/rust.vim
	url = git://github.com/rust-lang/rust.vim.git
[submodule "userdots/.vim/pack/bundle/start/tabular"]
	path = userdots/.vim/pack/bundle/start/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "userdots/.vim/pack/bundle/start/vim-terraform"]
	path = userdots/.vim/pack/bundle/start/vim-terraform
	url = git://github.com/hashivim/vim-terraform.git
