[submodule "userdots/.vim/bundle/gundo"]
	path = userdots/.vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "userdots/.vim/bundle/vim-pathogen"]
	path = userdots/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "userdots/.vim/bundle/vim-colors-solarized"]
	path = userdots/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "userdots/.vim/bundle/vim-statline"]
	path = userdots/.vim/bundle/vim-statline
	url = https://github.com/millermedeiros/vim-statline.git
[submodule "userdots/.vim/bundle/neocomplcache"]
	path = userdots/.vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.vim.git
