[user]
    name = Amr Ali
    email = amralicc@gmail.com

[alias]
    st = status
    ci = commit
    cfg = config
    br = branch
    co = checkout
    shs = stash save
    shp = stash pop
    shl = stash list
    shpu = stash push
    df = diff --patience --color
    dfs = diff --patience --color --staged
    pl = pull -v
    plup = pull -v upstream
    plr = pull -v --rebase
    pu = push -v
    ll = log --stat --abbrev-commit --color
    lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset'
    adp = add -p
    pr = pull-request
    submod = submodule
    update-submods = submodule foreach git pull origin master
    gen-patch = format-patch --stdout

[color]
    ui = auto # covers diff = true, status = auto, branch = auto
    interactive = auto

[push]
    default = simple
[core]
    autocrlf = input
	editor = nvim
[filter "tabspace"]
    smudge = unexpand --tabs=4 --first-only
    clean = expand --tabs=4 --initial
[github]
    user = amrali
[ghi]
    token = !security find-internet-password -a amrali -s github.com -l 'ghi token' -w
[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true
[branch]
    autoSetupMerge = always
[pull]
    rebase = false
[credential]
	helper = osxkeychain
