[user]
    name = Amr Ali

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    shs = stash save
    shp = stash pop
    shl = stash list
    df = diff --patience --color
    dfs = diff --patience --color --staged
    pl = pull -v
    plr = pull -v --rebase
    pu = push -v
    ll = log --stat --abbrev-commit --color
    lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset'
    adp = add -p
    submod = submodule

[color]
    ui = auto # covers diff = true, status = auto, branch = auto
    interactive = auto

[push]
    default = matching
[core]
    autocrlf = input
[filter "tabspace"]
	smudge = unexpand --tabs=4 --first-only
	clean = expand --tabs=4 --initial
[github]
	user = amrali
